#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  background-color: #282930;

}

.nav-items {
  display: flex;
  list-style: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #202127;
  padding: 30px;
}
.nav-logo {
  width: 100px;
}

.nav > h1 {
  color: #61DAFB ;
}

.nav-items > li {
  padding: 20px;
  font-weight: bold;
}
.nav--title {
  padding: 10px;
}

.main--title {
    font-size: 39px;
    letter-spacing: -0.05em;
}

.main--list > li {
  line-height: 19px;
  padding: 10px;
  
}