#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  background-color: #282930;

}


.nav {
  display: flex;
  align-items: center;
  background-color: #202127;
  padding: 10px;
}
.nav-logo {
  width: 100px;
}

.nav-tag {
  padding: 20px;
  color: antiquewhite;
  margin-right: auto;
}
.nav--title {
  padding: 10px;
  color: #61c5fb;
}

.main--title {
    font-size: 39px;
    letter-spacing: -0.05em;
}

.main--list > li {
  line-height: 19px;
  padding: 10px;
}

.main--list > li::marker {
  line-height: 19px;
  font-size: 1.4rem;
  color: #61c5fb;

}

main {

  background-image: url(greylogo.jpeg);
  background-repeat: no-repeat;
  background-position: right 75%;
  
  
}